nav {
  width: $width;
  margin: 0 auto;
  background-color: $grey;
  overflow: hidden;
  ul{
    float: left;
    li {
      list-style: none;
      display: inline-block;
      margin-left: -4px;
      a {
        font-family: $font-nav;
        display: block;
        font-size: 14px;
        text-decoration: none;
        color: white;
        padding: 20px 35px;
        border-right: 1px solid black;
      }
      a:hover {
        color: $orange;
      }
      a:active {
        background-color: $blue;
        color: white;
      }
    }
  }
  .search {
    float: right;
    position: relative;
    margin-right: 8px;
    input {
      margin-top: 8px;
      height: 40px;
      width: 240px;
      background-color: #35383C;
      border:1px solid black;
      text-indent: 15px;
      color: #626466;
        }
    .genericon {
      position: absolute;
      top:20px;
      right: 20px;
      color: #626466;
    }
  }
}
