@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed';

$font-stacks:     'Ubuntu', sans-serif;
$font-nav:        'Ubuntu Condensed', sans-serif;
$grey:            #2A2D32;
$blue:            #248cec;
$orange:          #f4b711;
$width:           1160px;
