@import "../fonts/genericons/genericons.css" all;
.mobile {
  display: none;
}

.wrapper {
  width: 1080px;
  background-color: #fff;
  margin: 0 auto;
  color: #666;
  font-family: 'Open Sans';
}
header {
  margin-top: 18px;
  position: relative;
  height: 50px;
  }
header::after {
  bottom:0;
  left:0;
  position: absolute;
  content: "";
  width:100%;
  height: 3px;
  background: url(../img/line-large.png);
  }
.mobile_logo {
  display: inline-block;
}
.nav {
  float: right;
  margin-right: 39px;
  margin-top: 8px;
  }
.genericon.genericon-expand,
.genericon.genericon-next {
  margin: 0 11px;
  color: #0069EF;
}
.nav_list{
  display: inline-block;
}
.nav_list a {
  padding: 6px 0 6px 11px;
  border: 1px solid #666;
  color: #666;
  font-weight: bold;
  font-size: 12px;
}
.nav li a:hover{
  color: #0069EF;
  border-color: #0069EF;
}
.sub_nav {
  display: none;
  position: absolute;
  top:23px;
  width: 128px;
  border:1px solid #666;
  border-top: none;
  background-color: #fff;
  z-index: 2;
}
.sub_nav li {
  border: none;
  list-style: disc;
  list-style-position: inside;
}
.sub_nav a {
  display: block;
  margin: 5px 0;
  padding: 0 8px;
  border: none;
}
.nav_list.sub:hover .sub_nav{
  display: block;
}
                                  /* div service*/
.service_item {
  display: inline-block;
  width: 130px;
  text-align: center;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  margin-right:68px;
  margin-top: 40px;
  }
.service_item:first-child {
  margin-left: 68px;
}
.service_item a {
  color:#666;
}
.service_item a p{
  width: 100px;
  text-align: center;
  display: inline-block;
}
.service_item::after {
  bottom:0;
  left:0;
  position: absolute;
  content: "";
  width:100%;
  height: 3px;
  background: url(../img/line_small.png);
  }

                                      /*div exchange */
.exchange {
  width: 91%;
  border: 1px solid #6b6b6b;
  border-radius: 8px;
  position: relative;
  margin: 30px auto 0 auto;
  }
.exch_name {
  padding: 10px 27px;
  background-color: #fff;
  position: absolute;
  top: -18px;
  left: 289px;
  font-weight: bold;
}
.exch_box {
  margin: 0 auto;
  width: 986px;
}
.exch_item {
  width: 320px;
  height: 80px;
  display: inline-block;
  margin-right: -5px;
  margin-top: 60px;
  position: relative;
  border: 1px solid #0069EF;
  -webkit-box-shadow: 6px 0  10px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:6px 0 10px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 0 10px -1px rgba(102, 102, 102, 0.2);
}
.exch_item:first-child {
  margin-left: 10px;
}
.exch_item:last-child {
  margin-right: 10px;
}
.exch_item p {
  padding: 10px 16px 10px 37px;
}
.exch_item.triang::after,
.exch_item.triang::before{
  content: '';
  border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 22px solid #0069EF;
	position: absolute;
  right: -22px; top: 17px;
}
.exch_item.triang::before{
  border-left-color: white;
  z-index: 5;
  right: -21px;
}
.exch_item ul {
  padding-left: 30px;
}
.exch_list, .exch_list a {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 80px;
  margin: 0 6px;
  color: #666;
  }
.exch_list.pm {
  position: relative;
  }
.exch_list_menu {
  opacity:0;
  -webkit-transition:0.45s linear opacity;
  /*display: none;*/
  position: absolute;
  width: 450px;
  height: 160px;
  background-color: #fff;
  z-index: 6;
  border: 1px solid #0069EF;
  left: -10003px;
  top: 44px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(97,97,97,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(97,97,97,1);
  box-shadow: 0px 0px 5px 0px rgba(97,97,97,1);
}
.exch_list.pm:hover .exch_list_menu.desktop {
  display: block;
  opacity: 1;
  left:-103px;
}
.exch_list_menu::before {
  content: '';
  top:-91px;
  left:105px;
  position: absolute;
  width: 70px;
  height: 90px;
  background-image:url('../img/pm.png');
  background-repeat: no-repeat;
  background-position: 7px 42px;
  background-color: #fff;
  border: 1px solid #0069EF;
  border-bottom: none;
  box-shadow: #ccc 2px -2px 3px;
  }
.exch_list_menu table {
    width: 400px;
    height: 140px;
    margin: 10px auto;
    border: 1px solid #fff;
    text-align: left;
    }
.exch_list_menu table a {
  font-size: 12px;
  font-weight: normal;
  color: #202020;
  width: 130px;
}
.exch_list_menu table a img {
  padding-right: 10px;
}
.exch_list_menu th{
  border: 1px dotted black; /* Граница вокруг ячеек */
   }
.exch_list_menu td{
  border: 1px dotted black;
}
li.exch_list.pm::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 11px;
  width: 30px;
  height: 30px;
  background: url('../img/pm.png')no-repeat;
  }

.exch_list.pb {
  position: relative;
  }
.exch_list.pb:before{
  content: '';
  position: absolute;
  top: -3px;
  left: 11px;
  width: 30px;
  height: 30px;
  background: url('../img/pb.png')no-repeat;
  }
.exch_detail{
  overflow: hidden;
  width: 930px;
  margin: 0 auto;
 }
.detail1, .detail2 {
  padding-top: 23px;
  display: inline-block;
  position: relative;
  padding-bottom: 25px;
  font-size: 14px;
  color: #737373;
  }
.detail1 {
  float: left;
  padding-left: 45px;
  }
.detail1 a {
  color: #737373;
  padding-right: 10px;
}
.detail2 {
  float:right;
  padding-right: 45px;
  }
.detail1:before {
  content: '';
  position: absolute;
  left: 11px;
  width: 30px;
  height: 30px;
  background: url('../img/pb_small.png')no-repeat;
  cursor: pointer;
  }
.detail2:before{
  content: '';
  position: absolute;
  left: -160px;
  top: 50%;
  width: 100px;
  height: 1px;
  background-color: #6b6b6b;
  }
.detail2:after{
  content: '';
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  background: url('../img/conv.png')no-repeat;
  cursor: pointer;
  }
                                                       /*TITLES*/
.titles {
  width: 960px;
  margin: 0 auto;
  margin-top: 44px;
  text-align: center;
  position: relative;
  }
.titles::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(247,242,247,1);
  background: -moz-linear-gradient(left, rgba(247,242,247,1) 0%, rgba(168,168,168,1) 51%, rgba(240,235,240,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,242,247,1)), color-stop(51%, rgba(168,168,168,1)), color-stop(100%, rgba(240,235,240,1)));
  background: -webkit-linear-gradient(left, rgba(247,242,247,1) 0%, rgba(168,168,168,1) 51%, rgba(240,235,240,1) 100%);
  background: -o-linear-gradient(left, rgba(247,242,247,1) 0%, rgba(168,168,168,1) 51%, rgba(240,235,240,1) 100%);
  background: -ms-linear-gradient(left, rgba(247,242,247,1) 0%, rgba(168,168,168,1) 51%, rgba(240,235,240,1) 100%);
  background: linear-gradient(to right, rgba(247,242,247,1) 0%, rgba(168,168,168,1) 51%, rgba(240,235,240,1) 100%);
  }
.title1,.title2,.title3{
  display: inline-block;
  padding-right: 18px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin: 0 40px;
  }
.titles span {
  vertical-align: 6px;
  color: #6b6b6b;
  }
span.icon-strelki,span.icon-contact,span.icon-star{
  padding: 0 18px;
  font-size: 20px;
  color: #0069EF;
  }
                                                           /*DIV ARTICLES*/
.articles {
  margin: 0 30px;
}
.articles h3 {
 text-align: center;
 padding-top: 20px;

  }
.articles_item {
  display: inline-block;
  width: 43.5%;
  border: 1px dashed #8b8b8b;
  position: relative;
  margin: 30px;
  }
.articles_img {
  float: left;
  margin: 23px 10px 10px 23px;
  }
.articles_item p {
  margin: 23px 18px 23px 23px;

  }
.articles_more {
  text-align: right;
  }
.articles_more a{
  color: #8d8d8d;
  font-size: 16px;
}
.icon-more:before {
    content: "\e94c";
    font-size: 14px;
  }
.articles_prev, .articles_next {
  position: absolute;
  top:50%;
  }
.articles_prev{
  left:-12px;
    }
.articles_next{
  right:-12px;
    }
                                                           /*div Ways*/
.ways {
  width: 985px;
  height: 396px;
  border: 1px solid #8b8b8b;
  position: relative;
  margin: 0 auto;
  border-radius: 6px;
  background: url('../img/form.png') center center no-repeat;
}
.ways_name {
  background-color: #fff;
  text-align: center;
  padding: 0 27px;
  position: absolute;
  top:-10px;
  left: 330px;
}
.ways a {
  color: #8d8d8d;
  position: absolute;
  font-family: 'Open sans';
}
.perf   {top:90px;left:50px;font-size:36px;}
.w1     {top:33px;left:314px;font-size:20px;}
.btc    {top:184px;left:50px;font-size:20px;}
.exmo   {bottom:120px;left:206px;font-size:24px;}
.payeer {bottom:65px;left:95px;font-size:32px;}
.lite   {top:14%;left:43%;font-size:24px;}
.qiwi   {top:102px;left:570px;font-size:32px;}
.yan    {bottom:100px;left:363px;font-size:24px;}
.bit    {bottom:153px;left:514px;font-size:28px;}
.pay    {top:157px;left:388px;font-size:36px;}
.adv    {top:54px;right:84px;font-size:24px;}
.priv   {top:118px;right:143px;font-size:20px;}
.ok     {top:186px;right:43px;font-size:20px;}
.web    {top:260px;right:60px;font-size:28px;}

.perf:hover   {color:#F83424;}
.w1:hover     {color:#F51C86;}
.btc:hover    {color:#5463BF;}
.exmo:hover   {color:#00BDFF;}
.payeer:hover {color:#00A7E2;}
.lite:hover   {color:#666;}
.qiwi:hover   {color:#FF9000;}
.yan:hover    {color:#FD560B;}
.bit:hover    {color:#FF9000;}
.pay:hover    {color:#006AB8;}
.adv:hover    {color:#00D4A3;}
.priv:hover   {color:#008F29;}
.ok:hover     {color:#FF9000;}
.web:hover    {color:#006AB8;}
                                                            /*div Text*/
.text {
  margin: 50px 45px;
  border: 1px solid #8b8b8b;
  border-radius: 6px;
  position: relative;
}
.text_name {
  background-color: #fff;
  text-align: center;
  padding: 0 27px;
  position: absolute;
  top:-10px;
  left: 384px;
  font-size: 16px;
  font-weight: bold;
}
.text_item {
  font-size: 14px;
  font-weight: lighter;
  padding: 3%;
  width: 43.5%;
  text-align: justify;
  display: inline-block;
}
                                           /*Расскажите о нас*/
.say_us {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}
.say_us li {
  display: inline-block;
  padding: 0 6px;
}
.say_us li.mobile {
  display: none;
}

.say_us li a{
  color: #666;
  font-size: 14px;
}
.say_us li a:hover{
  color:#52A7F6;
}

                                                     /*Футер*/
.footer {
  margin: 0 60px;
}
.footer_name {
  text-align: center;
  border: 1px solid #BBD9FB;
}
.footer_name li {
  display: inline-block;
  padding: 6px 0;
  width: 180px;
}
.footer_name li:first-child {
  padding-left: 40px;

}
.footer_name li span.icon-lit_logo:before{
  font-size: 12px;
  color:#0069EF;
  padding: 0px 35px;
}
.footer_items {
  overflow: hidden;
  text-align: center;
}
.footer_item {
  font-size: 12px;
  float:left;
  width: 156px;
  padding-right: 29px;
  line-height: 26px;
  padding-top: 10px;
  position: relative;
}

.footer_item.first {
  margin-left: 8px;
  padding-right: 34px;
}
.footer_item.last {
  padding-right: 10px;
  width: 20px;
  }
.footer_item.prelast {
  padding-right: 4px;
  width: 145px;
}
.footer_item.last a {
  font-size: 16px;
}
.footer_item.last a:hover {
  color:#52A7F6;
}

.footer_item a {
  color: #8e8e8e;
}
                              /*Градиенты на бордерах*/

.exchange::before,
.exchange::after,
.ways::before,
.ways::after,
.text::before,
.text::after {
  content: '';
  height: 100%;
  width: 3px;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.42) 0%, rgba(255,255,255,0.64) 14%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.71) 86%, rgba(255,255,255,0.43) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.42) 0%,rgba(255,255,255,0.64) 14%,rgba(255,255,255,1) 32%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.71) 86%,rgba(255,255,255,0.43) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0.42) 0%,rgba(255,255,255,0.64) 14%,rgba(255,255,255,1) 32%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.71) 86%,rgba(255,255,255,0.43) 100%);
}
.ways::before,
.ways::after{
  height: 397px;
}
.text::before,
.text::after {
  height: 375px;
}
.exchange::before,
.ways::before,
.text::before{
  left:-2px;
}
.exchange::after,
.ways::after,
.text::after{
  right: -2px;
  bottom: 0;
}

/*@media screen*/
/*and (min-width : 320px)*/
/*and (max-width : 520px) {*/
/*@import "../fonts/genericons/genericons.css" all;*/
/* Smartphones (portrait and landscape) ----------- */
/*.no-mobile {
  display: none;
  }
.mobile {
  display: inline-block;
  }
.wrapper {
  min-width: 320px;
  max-width: 320px;
  width: 100%;
  }
.mobile_menu{
  float: left;
  margin-left: 20px;
}
.mobile_exit {
  float: right;
  margin-right: 20px;
}
.mobile_logo{
  padding: 6px 0px 0 30px;
}
.mobile_logo img{
  width: 115px;
  }
.genericon.genericon-expand, .genericon.genericon-next {
  margin: 0 0;
  margin-top: -2px;
  }
.mobile_menu, .mobile_exit {
  margin-top: 6px;
  font-size: 20px;
  color: #1469EB;
 }
.genericon.genericon-menu,
.genericon.genericon-next {
  font-size: 28px;
  font-weight: bold;
}
.mobile_menu a, .mobile_exit a {
  font-size:14px;
  color: #1469EB;
  }
.last_article:before,
.articles_item:before {
  content:'';
  width: 100%;
  height: 2px;
  bottom: -60px;
  position: absolute;
  background: url(../img/line-mobile.png);
  }

header::after{
  background: url(../img/line-mobile.png);
  }
.exchange {
  width: 94%;
  text-align: center;
  margin: 56px auto;
  }
.exch_name {
  padding: 10px 10px;
  top: -18px;
  left: 33px;
  width: 225px;
  }
.genericon-expand:before {
  content: "\f431";
  font-weight: bolder;
  font-size: 39px;
  line-height: 24px;
}
.exch_box {
  width: 100%;
  margin-top: 70px;
  }
.exch_item,
.exch_item:first-child,
.exch_item:last-child {
  width: 90%;
  margin: 0px 2%;
  }
.exch_detail {
  width: 90%;
  }
.exch_list, .exch_list a {
  margin: 0 2px;
    }
.exch_item.triang::after, .exch_item.triang::before {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 22px solid #0069EF;
  right: 117px;
  top: 80px;
  }
.exch_item.triang::before {
  border-top-color: #fff;
  top: 78px;
  }
.exch_item ul {
  padding-left: 0px;
  }
.exch_item p {
  text-align: left;
  }

.exch_list_menu {
  width: auto;
  height: auto;
}
.exch_list_menu table {
   width: 270px;
   height: 130px;
   margin: 10px auto;
  }
.exch_list_menu table a {
   width: 84px;
   text-align: center;
   padding: 10px 0;
 }
.exch_list_menu table a p{
   padding: 0;
   text-align: center;
  }
.articles {
  margin: 0;
  text-align: center;
  }
.articles_item {
  width: 94%;
  margin: auto;
  border: none;
  font-size: 14px;
  font-weight: lighter;
  }
.articles_item p {
  margin: 23px 60px;
  }
.articles_img {
  float: none;
  }
.articles_more {
  text-align: center;
}
.articles_prev {
  left: 11px;
}
.articles_prev, .articles_next {
  top: 68%;
}
.articles_next{
  right: 11px;
}
.articles_more a{
  color: #1469eb;
}
.articles_item:before {
  left: 0;
  bottom: auto;
  }

.detail1, .detail2 {
  float: none;
  padding-left: 45px;
  display: block;
  }
.detail2 {
  padding-right:0;
 }
.detail2 a {
  color: #1469eb;
 }
 .detail1 a {
  color: #737373;
  padding-right: 10px;
 }
 .detail1:before, .detail2:after {
   content: '';
   position: absolute;
   left: 11px;
   top: 24px;
   width: 30px;
   height: 30px;
   cursor: pointer;
   }
 .detail1:before{
   background: url('../img/svg/privat.svg')no-repeat;
   }
 .detail2:after{
   background: url('../img/svg/lett.svg')no-repeat;
   }
 .detail2:before{
   content: '';
   position: absolute;
   left: 106px;
   top: 0;
   width: 100px;
   height: 1px;
   background-color: #6b6b6b;
   }
.ways_sub li {
  list-style: disc;
  list-style-position: inside;
  /*margin: 20px 30px;*/
/*}*/
/*.ways_mobile {
  position: relative;
  width: 100%;
}
.ways_mobile a{
  color: #1469eb;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 10px;
  display: block;
}
li.open_menu {
  padding: 10px 0 10px 38px;
  color: #1469eb;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  }
.open_menu {
  display: block;
  }
.ways_mobile:before,
.open_menu:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background: url('../img/line_blue.png')
}
.open_menu:after{
  top:0;
  left: 0;
}
.ways_mobile .icon-more:before {
  display: inline-block;
  margin-left: 10px;
  -webkit-transform: rotate(90deg); /* Chrome y Safari */
  -moz-transform: rotate(90deg); /* Firefox */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
  -o-transform: rotate(90deg);
}*/

/*.ways_sub {
  display: none;
}
.open_menu:hover .ways_sub{
  display: block;
}
.text {
  margin: 50px 10px;
}
.text_name {
  left: 48px;
  }
.text_item {
  padding: 0 6%;
  width: 88%;
  font-size: 14px;
  line-height: 16px;
  text-align: inherit;
}
.first_p {
  margin-top: 20px;
}
.text_item:last-child{
  margin-bottom: 30px;
}
.text_item p{
  padding: 16px 0px 0 0px;
}
.text::before, .text::after {
    height: 100%;
  }
.say_us li.no-mobile {
  display: none;
}
.say_us li.mobile{
  display:block;
  margin-bottom: 23px;
}*/
/*.say_us li a {
  font-size: 30px;
  color: #1169EA;
  padding: 0 12px;
}
.footer_mobile.mobile {
  display: block;
}
.footer_name {
  margin: 0 10px;
}
.footer_item{
  float: none;
  display: inline-block;
  padding-right: 0;
  padding-bottom: 16px
}
.footer_name li span.icon-lit_logo:before {
  padding: 0px 15px;
}
.footer_name li:first-child {
    padding-left: 0;
}
.footer_name li {
    width: auto;
    margin: 6px;
}*/
/*}*/
