@font-face {
    font-family:'helveticaneuecyrlight';
    src: url('../fonts/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
font-family:'helveticaneuecyrlight';
background-image: url(../img/bkg.jpg);
background-size: cover;
/*height: 1080px;*/
}
#header {
  background-image: url(../img/pattern.png);
  margin-bottom: 210px;
}
#header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#menu2:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#menu1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#menu1 {
  float: right;
  margin-right: 30px;
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(32,124,202,1) 0%,rgba(81,177,220,1) 0%,rgba(46,122,196,1) 100%);
}
#menu1 ul {
  padding: 0 20px;
}

#menu3 a, #menu2 a {
  display: block;
  padding: 0 10px;
  color:#60b5ed;
}
#menu2 li a:hover{
  background-color: #4eabda;
  color: #fff;
  font-weight: bold;
}
#menu2 {
  float: right;
}
#menu2 li{
  float:left;}

#menu3 {
  float: right;
  border-left: 1px solid #60b5ed ;
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  background-position: 15% 50%;
  text-align: right;
  }
  #menu3 li {
    padding-left: 40px;
    padding-right: 10px;
  }
#menu1 li {
  float: right;
  color: #fff;
  padding: 0 2px;
}

li{
  text-align: center;
  font-size: 16px;
  display:block;
  line-height: 35px;
  }
#menu1 a {
  color: #fff;
  text-decoration: underline;
}
#wrapper {
  width: 560px;
  margin: 0 auto;
  }
#logo {
  background-color: rgba(14, 14, 14, 0.75);
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
 #cad {
   color: #fff;
   font-size: 24px;
 }
#content {
  background-color: rgba(14, 14, 14, 0.75);
  margin: 3px auto 0 auto;
  text-align: center;
  color: #b5b5b3;
}

#fb1 a#f {
  font-weight: bold;
  font-size: 22px;
  margin-right: 1px;
  padding: 5px 14px;
  border-radius: 4px 0px 0px 4px;}

#fb1 {
  padding-top: 36px;
  margin:0 auto;
  width: 275px;
}
#fb1 a {
  font-family: Tahoma;
  display: block;
  float: left;
  color: white;
  font-size: 14px;
  font-weight: bold;
  background: -moz-linear-gradient(270deg, #3d5794 0%, #2b4276 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d5794), color-stop(100%, #2b4276)); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, #3d5794 0%, #2b4276 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, #3d5794 0%, #2b4276 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, #3d5794 0%, #2b4276 100%); /* ie10+ */
background: linear-gradient(180deg, #3d5794 0%, #2b4276 100%);
border-top: 1px solid #758ab7;
}

#fb1 a#log {
  padding: 8px 51px 10px 33px;
  border-left: 1px solid #758ab7;
  border-radius: 0px 4px 4px 0px;
  position: relative;
  /*background-image: url(../img/strelka.png);*/
  /*background-repeat: no-repeat;*/
  /*background-position: right center;*/
}
#fb1 a#log:after {
  content:url('../img/strelka.png');
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
}

#line {
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 25px auto 18px auto;
}

#data {
  width: 270px;
  margin: 0 auto;
}
input.pole {
  width: 270px;
  height: 36px;
  background-color: #000;
  border: 1px solid #000;
  border-bottom: 1px solid #494846;
  margin: 10px auto;
}
input::-webkit-input-placeholder {
    text-indent: 10px;
  }
input.pole:focus {
  background-color: #1b5288;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(68,116,144,1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(68,116,144,1);
   box-shadow: 0px 0px 10px 3px rgba(68,116,144,1);
}
#check {
  margin: 20px auto;
}
#create a {
  font-family: Tahoma;
  font-size: 14px;
  display: block;
  padding: 9px 0px 11px 0px;
  margin: 0 60px;
  color: white;
  border-radius: 3px;

  background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #207cca 0%, #00aedd 0%, #017cc9 100%, #017cc9 100%, #017cc9 100%, #017cc9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 0%,#207cca 0%,#00aedd 0%,#017cc9 100%,#017cc9 100%,#017cc9 100%,#017cc9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#207cca 0%,#00aedd 0%,#017cc9 100%,#017cc9 100%,#017cc9 100%,#017cc9 100%);
}
label {
  font-size: 14px;
}
#comment {
  font-size: 12px;
  padding: 20px 0;
}
