.copyright {
  background-color: #35383c;
  font-family: Arial;
  font-size: 12px;
  color: #5d6063;

}
.copyright_wrapper {
  width: $width;
  margin: 0 auto;

  .copyright_item {
    display: block;
    float: left;
    padding: 30px 20px;;
  }
  .copyright_item:last-child {
    float: right;
    margin-right: 40px;
  }
}
