.wrapper {
  width: 100%;
  overflow-x: hidden;
}
header {
  background: url('../../dist/img/tab/bcg1600.jpg') center no-repeat;

  .logo {
    padding-bottom: 136px;
    text-align: center;
  }
}
.login_item {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 120px;
  width: 84px;
}
.login_link {
  line-height: 30px;
  color: white;
}
.login_link:hover{
  color:$red;
}
.login_item:last-child {
  padding: 5px;
  border: 2px solid white;
  border-radius: 20px;
}
.logo_title,{
  font-weight: bold;
  font-size: 20px;
}
p.logo_dreams,p.logo_dreams p {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}
.logo_find_wrapper {
  display: block;
  margin: 20px auto;
}
.logo_find {
  font-family: $roboto;
  font-weight:100;
  font-size: 18px;
}
.logo_search_link {
  @include circle_link;
  color: white;
  background-color: $red;
}
.logo_search_link:hover {
  color: $red;
  background-color: #fff;
}
.tablet {
  display: none;
}

@media screen and (min-width : 768px) {
.tablet {
  display: inline-block;
}
.mobile {
  display: none;
}
.logo_float {
  overflow: hidden;
  zoom: 1; /* for IE */
}
.login_item_wrapper {
  float: right;
  padding-top: 10px;
  margin-right: 50px;
}
.logo_title_wrapper {
  float: left;
  margin-left: 50px;
  margin-top: 44px;
}
p.logo_dreams{
  font-size: 52px;
}
.logo_find.tablet {
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 36px;
}
header .logo {
  padding-bottom: 220px;
}
header {
  margin-bottom: 95px;
}
}

@media screen and (min-width : 1024px){
.logo {
  width: 940px;
  margin: 0 auto;
  }
.logo_search_link {
  font-size: 14px;
  width: 225px;
}
}
