@media only screen and (max-width: 875px) {
  .is_desktop{
    display: none;
  }
  .is_tablet{
    display: inline-block;
  }
  .wrapper{
    padding: 60px 20px 0;
  }
  .img_box {
    position: relative;
    .social_icons{
      position: absolute;
      left: 16px;
      top:16px;
    }
    .social_icons li {
      display:block;
      margin-bottom: 10px;
  }
}
.social_icons li a{
  background-color: transparent;
}
  .product_item{
    font-size: 11px;
  }
  .price_box{
    margin: 10px 0;
  }
  .price_box .old_price,
  .price_box .discount_price{
    font-size: 36px;
  }
  .product_rating {
      margin-bottom: 20px;
  }
  .share {
    display: none;
  }
  .product_text_name{
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4pt;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .product_text{
    margin-bottom: 18px;
  }
  .more_product h2{
    text-align: center;
  }
  .more_product_box{
    margin-left: -17px;
    margin-right: -20px;
  }
  .more_product_item{
    width: 50%;
    padding: 0 20px;
  }
  .more_product_img img{
    width:100%;
    vertical-align: top;
  }
  .more_product_price{
    left: 0;
    bottom: 0;
    background-color: rgba(138,230,207,.9);
    padding: 4px 4px 4px 8px;
    text-align: center;
    .discount_price, .common_price{
      font-size: 22px;
      letter-spacing: 1pt;
    }
    .old_price{
      display: none;
    }
  }
  .more_product_name {
    font-size: 16px;
    letter-spacing: .2pt;
    margin: 14px auto 30px;
}
}
