@media screen and (max-width:660px) {
  .wrapper {
    width: 100%;
    min-width: 320px;
  }
  .main_product{
    position: relative;
  }
  .main_product_img{
    width: 100%;
    padding-top: 90px;
    float: none;
  }
  .main_product_info h1 {
    position: absolute;
    top:0;
    left: 30px;
    width: 260px;
  }
  .main_product_info{
    width: 316px;
    float: none;
    margin: 0 auto;
  }
  .product_rating{
    margin: 0 0 24px 0;
  }
  .product_rating_stars{
    float: none;
    margin: 20px 0;
  }
  a#share{
    display: none;
  }
  .modal_window{
    display: block;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
  .modal_window:before, .modal_window:after{
    content: none;
  }
  .modal_window_top{
    display: none;
  }
.old_price, .new_price, .discount_price {
  font-size: 36px;
  font-weight: bold;
}
.product_size{
  text-align: center;
  span{
    display: inline-block;
    float: none;
  }
  .tablet {
    margin-right: 6px;
  }
}
.product_size_select{
  float: none;
  margin: 0 auto;
}
button {
  display: block;
  width: 280px;
  margin: 0 auto;
}
.more_product h3{
  text-align: center;
}
.carousel_box{
  display: block;
  width: 280px;
  margin: 30px auto;
  position: relative;
}
.owl-carousel{
  position: static;
}
.carousel_box img{
  width: 100%;
}
.more_product_box {
  display: none;
}

}
