@media screen and (min-width:661px) and (max-width:850px) {
  .wrapper{
    width: 640px;
  }
  .main_product{
    position: relative;
  }
  .main_product_img {
    width: 335px;
    margin-top: 40px;
    position: relative;
    .tablet {
      display: block;
    }
  }
  .main_product_info{
    width: 285px;
    padding-top: 28px;
    h1 {
      position: absolute;
      left: 0;
      top:0;
    }
  }
  .product_number{
    letter-spacing: 0;
  }
  .old_price, .new_price, .discount_price {
    font-size: 36px;
  }
  .product_rating_share a{
    display: none;
  }
  .product_text_name{
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  .product_size span{
    float: none;
  }
  .product_size .tablet{
    display: inline-block;
    margin-right: 5px;
  }
  .product_size_select {
    float: none;
    margin-left: 0;
    li {
      margin-left: 0;
      margin-right: 16px;
    }
  }
  button{
    width: 220px;
  }
  .more_product h3{
    text-align: center;
  }
  .more_product_box{
    margin-left: -40px;
  }
  .more_product_item{
    width: 300px;
    height: 284px;
    overflow: hidden;
    margin: 0 0 40px 40px;
  }
  .more_product{
    .new_price, .discount_price {
      font-size: 22px;
    }
    .old_price{
      display: none;
    }
  }
  .carousel_box{
    display: none;
  }
  .more_product_price{
    bottom: 0;
    text-align: center;
    width: 100%;
    }
  .social_icons{
    position: absolute;
    top:0;
    left: 0;
    margin: 0;
    padding: 14px;
    a {
      margin: 0 0 10px 0;
      display: block;
    }
  }
}
